.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background: #1976d2;
}

mat-drawer-container{
  color: black;
  background: whitesmoke;
}

.example-container {
  width: 500px;
  height: 100%;
 }

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background: #f0f0f0;

}

mat-list-item{
  color: black;
}
