mat-toolbar{
  position: relative;
  z-index: 5;
  background: white;
  color: black;
}

mat-icon{
  color: black;
}

.content{
  padding: 24px;
}

mat-sidenav-container{
  height: calc(100vh - 64px);
  background-color: aliceblue;
  color: black;
}

mat-sidenav{
  background: whitesmoke;
}

.spacer {
  flex: 1 1 auto;
}