.form-container {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.form-container mat-form-field {
    width: 100%;
    max-width: 20rem;
}

.form-container form>* {
    margin: 0.8rem 0;
}